- const bannerSlider = LANG.banner_slider;
- const main = LANG.main;

main
    section.banner-slider
        #js_banner-slider
            each val in bannerSlider
                div(class="banner-slider__slide-" + val.slide_class + " " + "banner-slider__slide")
                    img(class="banner-slider__slide-img1")&attributes(val.slide_img1)
                    img(class="banner-slider__slide-img2")&attributes(val.slide_img2)
                    img(class="banner-slider__slide-img3")&attributes(val.slide_img3)
                    p.banner-slider__slide-bg-text= val.slide_bg_text
                    p.banner-slider__slide-bg-sub.banner-slider__slide-bg-subtext= val.slide_bg_subtext
                    p.banner-slider__slide-bg-sub.banner-slider__slide-bg-subtext-next= val.slide_bg_subtext_next
                    .banner-slider__slide-content
                        h3.banner-slider__slide-title= val.slide_title
                        p.banner-slider__slide-text= val.slide_text
    section.container
        .main
            img(class="main__img")&attributes(main.main_img)
            .main__content
                h1.main__header.header= main.main_header
                p.text= main.main_text1
                p.text= main.main_text2
    section.container
        .produce
            .produce__content
                h2.produce__header.header= main.produce_header
                p.text= main.produce_text1
                p.text.produce__text2= main.produce_text2
                a(class="produce__link link" href=main.produce_path)
                    span(class="produce__link-text")= main.produce_link
                    img(class="produce__link-img")&attributes(main.produce_link_img)
            img(class="produce__img")&attributes(main.produce_img)
    section.order
        .container
            h2.order__header.header= main.order_header
            .order__text-block
                p.order__text1.text= main.order_text1
                p.order__text2.text= main.order_text2
            a(class="order__link link" href=main.order_path)
                span(class="order__link-text")= main.order_link
                img(class="order__link-img")&attributes(main.order_link_img)
