- const mainProducts = LANG.main_products;
mixin gridItem(data)
    div(class=`grid-item js_scroll-animate ${data.class_additional}`)
        img&attributes(data.bg).main-products__item-bg-img
        img(class=`main-products__item-img ${data.img_additional_class}`)&attributes(data.img)
        .main-products__item-content
            p.main-products__item-title= data.title
            p.main-products__item-text= data.text

main#top
    block main_slider
        include main_slider.pug
    section.main-products
        .container
            .js_grid
                .grid-sizer
                .grid-item.main-products__description
                    p.main-products__description-title= mainProducts.title
                    p.main-products__description-text= mainProducts.text
                +gridItem(mainProducts.ostelife)
                +gridItem(mainProducts.germixil)
                +gridItem(mainProducts.varyforte)
                +gridItem(mainProducts.hairactiv)
                +gridItem(mainProducts.cardio)
                +gridItem(mainProducts.keto)
                +gridItem(mainProducts.choco)
    block contacts
        include contacts.pug
