- const navContent = LANG.nav;

header.nav
    div.nav__wrap
        .nav__logo-wrap
            a(href=navContent.nav_logo_path).nav__logo
                img&attributes(navContent.nav_logo).nav__logo-img
                img&attributes(navContent.nav_logo_collapsed).nav__logo-img-collapsed
        div.nav__wrap-menu
            each nav_link in navContent.nav_links
                a(href=nav_link.nav_path).nav__link= nav_link.nav_link
            a(href=navContent.nav_link_anchor_path).button.nav__link_anchor= navContent.nav_link_anchor
        .nav__lang.js_dropdown
            .nav__lang-current.dropdown-toggle
                span.nav__lang-current-text= navContent.main_lang
                img&attributes(navContent.lang_link_img).nav__lang-link-img
            ul.nav__lang-list.dropdown-menu
                li.nav__lang-item
                    a(rel="alternate" hreflang=navContent.lang1_pathlang href=navContent.lang1_path).nav__lang-link= navContent.lang1
                li.nav__lang-item
                    a(rel="alternate" hreflang=navContent.lang2_pathlang href=navContent.lang2_path).nav__lang-link= navContent.lang2
        div.nav__burger
            span.nav__burger-line
    div(height="100%").burger-menu
        each nav_link in navContent.nav_links
            a.burger-menu__link(href=nav_link.nav_path)= nav_link.nav_link
        a(href=navContent.nav_link_anchor_path).button.nav__link_anchor= navContent.nav_link_anchor
        div
            .burger-menu__lang.js_dropdown
                .nav__lang-current.dropdown-toggle
                    span.nav__lang-current-text= navContent.main_lang
                    img&attributes(navContent.lang_link_img).nav__lang-link-img
                ul.burger-menu__lang-list.dropdown-menu
                    li.burger-menu__lang-item
                        a(rel="alternate" hreflang=navContent.lang1_pathlang href=navContent.lang1_path)= navContent.lang1
                    .burger-menu__divider
                        .divider
                    li.burger-menu__lang-item
                        a(rel="alternate" hreflang=navContent.lang2_pathlang href=navContent.lang2_path)= navContent.lang2